{% extends "index.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Recipe Gallery</h1>
    <div class="row">
        {% for recipe in recipes %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename=recipe.image_link) }}" class="card-img-top" alt="{{ recipe.recipe_name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.recipe_name }}</h5>
                    <p class="card-text">{{ recipe.ingredients.split(",")[0] }} and more...</p>
                    <div class="text-muted">Average Rating: {{ recipe.average_rating }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
