{% extends "index.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Manage Recipes</h1>
    <ul class="list-group">
        {% for recipe in recipes %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ recipe.recipe_name }}
            <form action="{{ url_for('delete_recipe', recipe_name=recipe.recipe_name) }}" method="post" class="d-inline">
            <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
