{% extends "index.html" %}

{% block title %}Recipe Card{% endblock %}
{% block content %}
<div class="mt-4">
    <h2>Search Results:</h2>
    <div class="row">
        {% for recipe in recipes %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ url_for('static', filename=recipe.image_link) }}" class="card-img-top recipe-card-image" alt="Recipe Image">
                    <div class="card-body">
                        <h5 class="card-title recipe-card-text">{{ recipe.recipe_name }}</h5>
                        <p class="card-text recipe-card-text">Main Ingredients: {{ recipe.ingredients.split(',')[0:3]|join(', ') }}</p>
                        <a href="#" class="btn btn-primary">View Recipe</a>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}
